html {
    box-sizing: border-box;
    background-color: ivory;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: darkslategray;
}

p,
li {
    line-height: 1.5em;
}

li {
    margin: 10px auto;
}

.nav-link {
    text-decoration: none;
    padding: 15px;
    background-color: gold;
    color: darkslategray;
    font-weight: bold;
}

.nav-link:hover {
    transition: 500ms;
    background-color: goldenrod;
    color: ghostwhite;
}